@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Spline+Sans+Mono:wght@500&family=Tiro+Devanagari+Hindi&display=swap";

/* public/index.css */
body {
  margin: 0px;
}
.wrapper {
  background-color: hsl(253, 97%, 89%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.textBoxWrapper {
  min-height: 100px;
  flex: 1;
  flex-grow: 1;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.textBox {
  background-color: white;
  min-height: 50px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
  border-radius: 50px;
}
.text {
  color: black;
  font-size: 15px;
  font-family: "Spline Sans Mono", monospace;
  flex-grow: 1;
  margin-left: 20px;
}
.inputWrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.input {
  background-color: white;
  height: 64px;
  border-radius: 32px;
  border-width: 0;
  justify-content: center;
  align-items: center;
  font-family: "Spline Sans Mono";
  display: flex;
  flex-grow: 1;
  padding-left: 30px;
}
.button {
  height: 64px;
  width: 64px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
.button:hover {
  fill: white;
  background-color: #8c82ff;
}
