@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Spline+Sans+Mono:wght@500&family=Tiro+Devanagari+Hindi&display=swap";

/* public/index.css */
body {
  margin: 0px;
}
.background {
  background-color: #8c82ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.title {
  color: white;
  font-size: 50px;
  font-family: "Spline Sans Mono", monospace;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-left: 20px;
}
.text {
  color: black;
  font-size: 15px;
  font-family: "Spline Sans Mono", monospace;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.checkbox {
  background-color: #8c82ff;
  margin: 20px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}
.button {
  height: 64px;
  width: 64px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
.button:hover {
  fill: white;
  background-color: #8c82ff;
}
